.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f7f0f0;
  padding: 20px;
}

.signup-card {
  width: 100%;
  max-width: 400px;
  background:url("../public/backimage.jpg");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.signup-title {
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-field {
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

.input-field:focus {
  border-color: #8d1616;
}

.signup-btn {
  padding: 12px;
  background: #8d1616;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
}

.signup-btn:hover {
  background: #a61a1a;
}

.login-link {
  margin-top: 16px;
  font-size: 14px;
  color: #555;
}

.login-link a {
  color: #8d1616;
  text-decoration: none;
  font-weight: 500;
}
.login-link a:hover {
  text-decoration: underline;
}
